{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "jasmine": true,
    "jest": true
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["warn", "always-multiline"],
    "import/no-named-as-default": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "no-confusing-arrow": "off",
    "no-script-url": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-indent": "off",
    "react/jsx-sort-props": ["warn", { "noSortAlphabetically": false }],
    "react/jsx-wrap-multilines": "off",
    "react/require-default-props": "off",
    "react/sort-prop-types": ["warn"],
    "semi": ["warn", "never"],
    "sort-keys": ["warn", "asc", { "natural": true }]
  }
}
